pyodbc
#pymysql
six
sqlalchemy
-e git+https://github.com/ODM2/geoalchemy.git@odm2
geoalchemy>=0.7.3dev
#https://github.com/ODM2/geoalchemy/archive/v0.7.3.tar.gz
shapely
dateutils
pandas
#psycopg2  # Commented out because I could not pip install it.
#matplotlib
#sqlalchemy-migrate
