six
sqlalchemy
geoalchemy
#Change line #242 in geoalchemy/base.py
#from:
#class SpatialComparator(ColumnProperty.ColumnComparator):
#to :
#class SpatialComparator(ColumnProperty.Comparator):

shapely

matplotlib
dateutils

sqlalchemy-migrate
